$burder-width: 0.24rem;
$burger--thickness: 3px;
$navigation__transition: width 0.3s ease-in-out;

#header.burger {
  position: fixed;
  z-index: 1;
  top: $burder-width;
  right: $burder-width;
  margin-bottom: 0;

  #burger-check {
    display: none;

    &:checked ~ .navigation {
      width: 1.3rem;
      transition: $navigation__transition;
    }
  }

  > label {
    width: $burder-width;
    border-bottom: $burger--thickness solid currentColor;
    cursor: pointer;
    // FIXME: 为什么初始化进入页面也会有动画？
    // transition: border-bottom 1s ease-in-out;

    &::before {
      content: '';
      display: block;
      width: 100%;
      border-bottom: $burger--thickness solid currentColor;
      margin-bottom: 5px;
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: $burger--thickness solid currentColor;
      margin-bottom: 5px;
      transition: transform 0.3s ease-in-out;
    }

    // Fix for extra space in Firefox
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
    }
  }

  #burger-check:checked ~ label {
    border-bottom: $burger--thickness solid transparent;
    transition: border-bottom 0.5s ease-in-out;

    &::before {
      transform: rotate(-405deg) translateY(2.5px) translateX(-3px);
      transition: transform 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(405deg) translateY(-3px) translateX(-3px);
      transition: transform 0.3s ease-in-out;
    }
  }

  .navigation {
    position: absolute;
    top: -0.09rem;
    right: 0.3rem;
    overflow: hidden;
    width: 0;
    height: 1.5em;
    transition: $navigation__transition;
  }
}
