#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  // margin-bottom: 0.4rem;

  h1 {
    // position: absolute;
    // left: 0;
    // top: -1em;
    // margin: 0;
    font-size: 0.36rem;
    color: #f0d17a;
    text-shadow: 3px 2px 0 #{$a}b3, 6px 5px 0 #{$green}4d;
  }

  // .logo {
  //   height: 2rem;
  // }

  #navigation {
    margin-top: 0.08rem;

    ul {
      display: flex;
      padding: 0;
      margin: 0;
      list-style: none;

      li {
        line-height: 1;

        &:first-child a::before {
          content: '';
          border: none;
        }

        a {
          margin: 0 1em;
          line-height: 1;
          // color: $green;

          &::before {
            content: '';
            position: absolute;
            left: -1em;
            height: 1em;
            border-left: 1px dotted currentColor;
          }

          &.active::after {
            transform: scaleX(1);
          }
        }

        &::before {
          content: '';
          font-size: 0;
        }
      }
    }
  }
}
