body {
  > .post-list {
    padding-left: 1em;
    margin-top: 0.32rem;
    li {
      display: flex;
      line-height: 2;
      time {
        flex: 0 0 88px;
        margin-right: 1em;
        color: $gray;
      }
      h2 {
        margin: 0;
        font: {
          size: 1em;
          weight: 400;
        }
        a:hover {
          border-bottom: none;
        }
      }
    }
  }
}