<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ page.title }} | {{ site.data.base.author }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/normalize.css" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/syntax.css" />
  </head>
  <body>
    {{ content }}
    <footer id="footer">
      <a href="https://github.com/Monine">
        <img src="/assets/svg/logo.svg" alt="logo" />
        &copy; {{ 'now' | date: '%Y' }} Monine
      </a>
    </footer>
  </body>
</html>
