#app-header .header-container {
  width: 60em;
  margin: 0 auto;
}

.baseline {
  position: relative;
  height: 3em;
  font-size: 12px;
}

.baseline::before {
  content: '';
  position: absolute;
  top: 50%; right: 0; left: 0;
  border-top: 1px solid #d9d9d9;
}

.baseline::after {
  content: attr(data-text);
  position: absolute;
  top: 0; left: 50%;
  padding: .5em 2em;
  line-height: 2;
  color: #bfbfbf;
  background-color: #f5f5f5;
  transform: translateX(-50%);
}

.animated {
  animation-duration: 0.5s !important;
}
